td, th {
  word-wrap: break-word;
  max-width: 400px;
}

.open-bar {
  background-color:#F39C12;
  line-height:10px;
  height: 10px;
  display: inline-block;
  max-width: 100%;
}

.done-bar {
  background-color:#3498db;
  line-height:10px;
  height: 10px;
  display: inline-block;
  max-width: 100%;
}

.gray-bar {
  width: 100px;
  background-color:#bdc3c7;
  line-height:10px;
  height: 10px;
  font-size: 0;
  overflow: hidden;
}

.title {
  color: #212529;
  text-decoration: none;
  margin: 10px;
  font-size: 60px;
  font-weight: 300;
  font-family: Roboto;
}

.title:hover {
  color: #212529;
  text-decoration: none;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.red {
  color: #F22613;
}

.green {
  color: #26A65B;
}

ul.no-bullets {
  list-style: none;
  padding-left: 0;
}
