td, th {
  word-wrap: break-word;
}

.bar {
  line-height:10px;
  height: 10px;
  display: inline-block;
  max-width: 100%;
  background-color: #2C3E50;
}

.production-bar {
  background-color:#F39C12;
}

.valid-bar {
  background-color:#3498db;
}

.invalid-bar {
  background-color:#C0392B;
}

.deleted-bar {
  background-color:#E74C3C;
}

.gray-bar {
  width: 100px;
  background-color: #BDC3C7;
  display: inline-block;
  line-height:10px;
  height: 10px;
  font-size: 0;
  overflow: hidden;
}

.valid-type {
  color: green;
}

.production-type, .invalid-type, .deleted-type, .deprecated-type {
  color: red;
}

.none-type {
  color: #8A8A8A;
}

.title {
  color: #212529;
  text-decoration: none;
  margin: 10px;
  font-size: 60px;
  font-weight: 300;
  font-family: Roboto;
}

.title:hover {
  color: #212529;
  text-decoration: none;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.red {
  color: #F22613;
}

.green {
  color: #26A65B;
}

ul.no-bullets {
  list-style: none;
  padding-left: 0;
}

ul {
  padding-inline-start: 20px;
}

tr:nth-child(even) {
  background-color: #f5f5fc;
}

small {
  color: #5A5A5A;
}

a {
  color: #0062cc;
}


th:first-child, td:first-child {
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
}


th:last-child, td:last-child {
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
}
