<!DOCTYPE HTML>
<html>
  <head>
    <base href="/stats/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <title>Stats2</title>
  </head>
  <body>
    <a class="title" href="/stats">Stats<sup class="red">2</sup></a>
    <ul style="margin: 10px;">
      <li><small>Total workflows in Stats<sup class="red">2</sup>:</small> {{ total_workflows }}</li>
      <li><small>Last update:</small> {{ last_stats_update | safe }}</li>
      <!--<li><small><a href="/jenkins/job/Stats2%20Update/lastBuild/">Last Jenkins job</a></small></li>-->
      <li><small><a target="_blank" href="https://github.com/justinasr/Stats2">GitHub</a></small></li>
      <!--<li><small>Update time in Jenkins: </small><a href="/jenkins/job/Stats2%20Update/buildTimeTrend"><br><img style="width:180px" src="/jenkins/job/Stats2%20Update/buildTimeGraph/png"/></a></li>-->
      <li>
        <form class="form-inline" onsubmit="this.action='search?q='+this.q.value;">
          <div class="form-group">
            <label><small>Search:</small></label>
            <input style="margin-left: 6px; margin-right: 6px; width:500px;" type="text" name="q" id="q" placeholder="Workflow, PrepID, Output Dataset, etc.">
          </div>
          <button type="submit" class="btn btn-outline-primary" style="padding: 2px 12px" value="Search">Search</button>
        </form>
      </li>
    </ul>
    <table class="table" style="font-size: 0.9rem">
      <tr style="font-size: 14px">
        <th>Workflow</th>
        <th>Requests/Campaigns</th>
        <th>Output datasets</th>
      </tr>
      {% for workflow in workflows %}
        <tr>
          <td><small>Name:</small> <a href="0?workflow_name={{ workflow.RequestName }}">{{ workflow.RequestName }}</a><br>
              {% if workflow.PrepID | length > 0 %}
                <small>PrepID:</small> <a href="0?prepid={{ workflow.PrepID }}">{{ workflow.PrepID }}</a><br>
              {% endif %}
              <small>Type:</small> <a href="0?type={{ workflow.RequestType }}">{{ workflow.RequestType }}</a><br>
              <small>Total events:</small> {{ workflow.TotalEvents }}<br>
              <small>Priority:</small> {{ workflow.RequestPriority }}<br>
              <small>Last update:</small> {{ workflow.LastUpdate | safe }}<br>
              {% if workflow.FirstStatus | length > 0 %}
                <small>First status:</small> {{ workflow.FirstStatus | safe }}<br>
              {% endif %}
              {% if workflow.LastStatus | length > 0 %}
                <small>Last status:</small> {{ workflow.LastStatus | safe }}<br>
              {% endif %}
              {% if workflow.ProcessingString | length > 0 %}
                  <small>Processing string:</small> <a href="0?processing_string={{ workflow.ProcessingString }}">{{ workflow.ProcessingString }}</a><br>
              {% endif %}
              <small><a target="_blank" href="https://cmsweb.cern.ch/reqmgr2/fetch?rid={{ workflow.RequestName }}">ReqMgr2</a></small><br>
              <small><a href="get_json/{{ workflow._id }}">View&nbsp;JSON</a></small><br>
          </td>
          <td>
            <ul class="no-bullets">
              {% if workflow.Requests | length > 0 %}
                <li><small>Requests (Tasks/Steps):</small>
                  <ul>
                    {% for request in workflow.Requests %}
                      <li>
                        <a href="0?request={{ request }}">{{ request }}</a>
                        <small><a target="_blank" href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{ request }}">McM</a></small>
                        <small><a target="_blank" href="https://cms-pdmv.cern.ch/pmp/historical?r={{ request }}">pMp</a></small>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
              {% if workflow.Campaigns | length > 0 %}
                <li><small>Campaigns:</small>
                  <ul>
                    {% for campaign in workflow.Campaigns %}
                      <li>
                        <a href="0?campaign={{ campaign }}">{{ campaign }}</a>
                        <small><a target="_blank" href="https://cms-pdmv.cern.ch/mcm/campaigns?prepid={{ campaign }}">McM</a></small>
                        <small><a target="_blank" href="https://cms-pdmv.cern.ch/pmp/historical?r={{ campaign }}">pMp</a></small>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </td>
          <td>
            <ul>
              {% for dataset in workflow.OutputDatasets %}
                <li>
                  <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" class="gray-bar">
                    {% if dataset.Type == 'VALID' %}
                      <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar valid-bar"></div>
                    {% elif dataset.Type == 'PRODUCTION' %}
                      <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar production-bar"></div>
                    {% elif dataset.Type == 'INVALID' %}
                      <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar invalid-bar"></div>
                    {% elif dataset.Type == 'DELETED' %}
                      <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar deleted-bar"></div>
                    {% else %}
                      <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar"></div>
                    {% endif %}
                  </div>
                    <small>datatier:</small> {{dataset.Datatier}},
                    <small>completed:</small> {{dataset.CompletedPerc}}%,
                    <small>events:</small> {{dataset.Events}},
                    {% if dataset.Size > 0 %}<small>size:</small> <span title="{{dataset.Size}} bytes">{{dataset.NiceSize}}</span>,{% endif %}
                    <small>type:</small> {{dataset.Type}},
                    <a target="_blank" href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D{{ dataset.Name }}"><small>go to</small> DAS</a><br>
                    <small><a href="0?dataset={{ dataset.Name }}">{{ dataset.Name }}</a></small>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="footer">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if not pages[1] %}disabled{% endif %}"><a class="page-link" href="{{ pages[0] - 1 }}?{{ query }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ pages[0] }}</a></li>
        <li class="page-item {% if not pages[2] %}disabled{% endif %}"><a class="page-link" href="{{ pages[0] + 1 }}?{{ query }}">Next</a></li>
      </ul>
    </div>
  </body>
</html>
