<!DOCTYPE HTML>
<html>
  <head>
    <base href="/stats/">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <title>Stats2</title>
  </head>
  <body>
    <a class="title" href="/stats">Stats<sup class="red">2</sup></a>
    <ul style="margin: 10px;">
      <li><small>Total workflows in Stats<sup class="red">2</sup>:</small> {{ total_workflows }}</li>
      <li><small>Last update:</small> {{ last_stats_update | safe }}</li>
      <!--<li><small><a href="/jenkins/job/Stats2%20Update/lastBuild/">Last Jenkins job</a></small></li>-->
      <li><small><a target="_blank" href="https://github.com/cms-PdmV/Stats2">GitHub</a></small></li>
      <!--<li><small>Update time in Jenkins: </small><a href="/jenkins/job/Stats2%20Update/buildTimeTrend"><br><img style="width:180px" src="/jenkins/job/Stats2%20Update/buildTimeGraph/png"/></a></li>-->
      <li>
        <form class="form-inline" action="search">
          <div class="form-group">
            <label><small>Search:</small></label>
            <input style="margin-left: 6px; margin-right: 6px; width:525px;" type="text" name="q" id="q" placeholder="Workflow, PrepID, Input or Output Dataset, etc.">
          </div>
          <button type="submit" class="btn btn-outline-primary" style="padding: 2px 12px" value="Search">Search</button>
        </form>
      </li>
    </ul>
    <table class="table" style="font-size: 0.9rem">
      <tr style="font-size: 14px">
        <th>Workflow</th>
        <th>Requests/Campaigns</th>
        <th>Output datasets</th>
      </tr>
      {% for workflow in workflows %}
        <tr>
          <td><small>Name:</small> <a href="0?workflow_name={{ workflow.RequestName }}">{{ workflow.RequestName }}</a><br>
              {% if workflow.PrepID | length > 0 %}
                <small>PrepID:</small> <a href="0?prepid={{ workflow.PrepID }}">{{ workflow.PrepID }}</a><br>
              {% endif %}
              <small>Type:</small> <a href="0?type={{ workflow.RequestType }}">{{ workflow.RequestType }}</a><br>
              <small>Total events:</small> {{ workflow.TotalEvents }}<br>
              <small>Total lumisections:</small> {{ workflow.TotalInputLumis }}<br>
              <small>Priority:</small> {{ workflow.RequestPriority }}<br>
              <small>Last update:</small> {{ workflow.LastUpdateAgo }} ago <small>({{ workflow.LastUpdate | safe }})</small><br>
              {% if workflow.FirstStatus | length > 0 %}
                <small>First status:</small> {{ workflow.FirstStatus }} <small>was set</small> {{workflow.FirstStatusAgo}} ago <small>({{ workflow.FirstStatusTime | safe }})</small><br>
              {% endif %}
              {% if workflow.LastStatus | length > 0 %}
                <small>Last status:</small> {{ workflow.LastStatus }} <small>was set</small> {{workflow.LastStatusAgo}} ago <small>({{ workflow.LastStatusTime | safe }})</small><br>
              {% endif %}
              {% if workflow.ProcessingString | length > 0 %}
                  <small>Processing string:</small> <a href="0?processing_string={{ workflow.ProcessingString }}">{{ workflow.ProcessingString }}</a><br>
              {% endif %}
              {% if workflow.InputDataset %}
                  <small>Input dataset:</small> <a href="0?input_dataset={{ workflow.InputDataset }}">{{ workflow.InputDataset }}</a> <a target="_blank" href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D{{ workflow.InputDataset }}"><small>go to</small> DAS</a><br>
              {% endif %}
              <small><a target="_blank" href="https://cmsweb.cern.ch/reqmgr2/fetch?rid={{ workflow.RequestName }}">ReqMgr2</a></small><br>
              {% if workflow.PrepID | length > 0 %}
                <small><a target="_blank" href="https://cms-unified.web.cern.ch/cms-unified/showlog/?search={{ workflow.PrepID }}">CMSUnified</a></small><br>
              {% endif %}
              {% if workflow.PrepID | length > 0 %}
                <small><a target="_blank" href="https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id={{ workflow.PrepID }}">Computing status page</a></small><br>
              {% endif %}
              <small><a href="get_json/{{ workflow._id }}">View&nbsp;JSON</a></small><br>
          </td>
          <td>
            <ul class="no-bullets">
              {% if workflow.Requests | length > 0 %}
                <li><small>Requests (Tasks/Steps):</small>
                  <ul>
                    {% for request in workflow.Requests %}
                      <li>
                        <a href="0?{{ request.attribute }}={{ request.name }}">{{ request.name }}</a>
                        {% for link in request.links %}
                          <small><a target="_blank" href="{{ link.link }}">{{link.name}}</a></small>
                        {% endfor %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
              {% if workflow.Campaigns | length > 0 %}
                <li><small>Campaigns:</small>
                  <ul>
                    {% for campaign in workflow.Campaigns %}
                      <li>
                        <a href="0?campaign={{ campaign.name }}">{{ campaign.name }}</a>
                        {% for link in campaign.links %}
                          <small><a target="_blank" href="{{ link.link }}">{{link.name}}</a></small>
                        {% endfor %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </td>
          <td>
            <ul>
              {% for dataset in workflow.OutputDatasets %}
                <li>
                  <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" class="gray-bar">
                    <div title="{{ dataset.Type }}, {{ dataset.CompletedPerc }}%" style="width: {{ dataset.CompletedPerc }}%;" class="bar {{dataset.Type | lower}}-bar"></div>
                  </div>
                  <small>datatier:</small> {{dataset.Datatier}},
                  <small>completed (on events):</small> {{dataset.CompletedPerc}}%,
                  <small>completed (on lumisections):</small> {{dataset.LumiCompletedPerc}}%,
                  <small>events:</small> {{dataset.Events}},
                  <small>lumisections:</small> {{dataset.Lumis}},
                  {% if dataset.Size > 0 %}<small>size:</small> <span title="{{dataset.Size}} bytes">{{dataset.NiceSize}}</span>,{% endif %}
                  <small>type:</small> <b class="{{dataset.Type | lower}}-type">{{dataset.Type}}</b>,
                  <a target="_blank" href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D{{ dataset.Name }}"><small>go to</small> DAS</a>
                  {% if dataset.Datatier == 'DQMIO' %}
                    <a target="_blank" href="https://cmsweb.cern.ch/reqmgr2/data/request?detail=true&inputdataset={{dataset.Name}}"><small>go to</small> harvesting job</a>
                  {% endif %}
                  <br>
                  <small><a href="0?output_dataset={{ dataset.Name }}">{{ dataset.Name }}</a></small>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="footer">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if not pages[1] %}disabled{% endif %}"><a class="page-link" href="{{ pages[0] - 1 }}?{{ query }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ pages[0] }}</a></li>
        <li class="page-item {% if not pages[2] %}disabled{% endif %}"><a class="page-link" href="{{ pages[0] + 1 }}?{{ query }}">Next</a></li>
      </ul>
    </div>
  </body>
</html>
