<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <style>
        .orange-bar {
            background-color:#FF6F00;
            line-height:10px;
            height: 10px;
            display: inline-block;
            max-width: 100%;
        }
        .blue-bar {
            background-color:#01579B;
            line-height:10px;
            height: 10px;
            display: inline-block;
            max-width: 100%;
        }
        .gray-bar {
            width: 100px;
            background-color:#ADADAD;
            line-height:10px;
            height: 10px;
            font-size: 0;
            overflow: hidden;
            display: inline-block;
        }
        </style>
        <title>Stats2</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://png.icons8.com/metro/64/data-backup">
    </head>
    <body>
        <h1 style="margin: 10px;"><a style="text-decoration: none;" href="/">Stats<sup>2</sup></a></h1>
        <ul>
            <li>Total requests in Stats<sup>2</sup>: {{ total_requests }}.</li>
            <li><a href="http://instance3:8080/job/Stats2Update/">Jenkins update page</a></li>
            <li>{{ rss | safe }}</li>
        </ul>
        <table class="table" style="font-size: 0.75em">
            <tr>
                <th>Request name</th>
                <th>Links</th>
                <th>Expected events</th>
                <th>Open/Done</th>
                <th>PrepID</th>
                <th>Campaign</th>
                <th>Output Datasets</th>
                <th>Type</th>
            </tr>
            {% for request in requests %}
                <tr>
                    <td><a href="/0?request_name={{ request.RequestName }}">{{ request.RequestName }}</a></td>
                    <td>
                        <a href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{ request.PrepID | replace('task_', '') }}">McM</a><br>
                        <a href="https://cms-pdmv.cern.ch/pmp/historical?r={{ request.PrepID | replace('task_', '') }}">Historical&nbsp;pMp</a><br>
                        <a href="https://cmsweb.cern.ch/reqmgr2/data/request?name={{ request.RequestName }}">ReqMgr2&nbsp;JSON</a><br>
                        <a href="/update/{{ request.RequestName }}">Update&nbsp;Now</a>
                        <a href="/view_json/{{ request.RequestName }}">View&nbsp;JSON</a>
                    </td>
                    <td>
                        {% if request.TotalEvents != -1 %}
                            {% if request.TotalEventsEqual == 'equal' %}
                                <span title="Number is the same in Stats and Stats2" style="color:green">{{ request.TotalEvents }}</span>
                            {% elif request.TotalEventsEqual == 'not_equal' %}
                                <span title="Number is different in Stats and Stats2" style="color:red">Stats<sup>2</sup>&nbsp;{{ request.TotalEvents }}<br>Stats&nbsp;{{ request.TotalEventsStats }}</span>
                            {% elif request.TotalEventsEqual == 'not_found' %}
                                <span title="Cannot find request in Stats" style="color:cyan">{{ request.TotalEvents }}</span>
                            {% else %}
                                {{ request.TotalEvents }}
                            {% endif %}
                        {% else %}
                            <span style="color:#FF0000"><b>No data</b></span>
                        {% endif %}

                    </td>
                    <td>
                    {% set lastDataset = request.OutputDatasets | last %}
                    {% if request.TotalEvents > 0 and request.EventNumberHistory and lastDataset %}
                        {% set lastHistory = request.EventNumberHistory | last %}
                        {% set open = lastHistory.Datasets[lastDataset].OpenEvents %}
                        {% set done = lastHistory.Datasets[lastDataset].DoneEvents %}
                        {% set openPercent = open / request.TotalEvents * 100.0 %}
                        {% set donePercent = done / request.TotalEvents * 100.0 %}
                        Open:&nbsp;{{ openPercent | round(2) }}%<br>Done:&nbsp;{{ donePercent | round(2) }}%
                        {% if request.TotalEventsEqual %}<br>OldStats:&nbsp;{{ request.OldCompletion }}%{% endif %}
                        <div class="gray-bar"><!--
                         --><div style="width: {{ donePercent }}%;" class="blue-bar"></div><!--
                         --><div style="width: {{ openPercent }}%;" class="orange-bar"></div>
                        </div>
                    {% endif %}
                    </td>
                    <td><a href="/0?prepid={{ request.PrepID }}">{{ request.PrepID }}</td>
                    <td><a href="/0?campaign={{ request.Campaign }}">{{ request.Campaign }}</td>
                    <td>
                        {% for dataset in request.OutputDatasets %}
                            {% if dataset == lastDataset %}<b>{% endif %}<a href="/0?dataset={{ dataset }}">{{ dataset }}</a>{% if dataset == lastDataset %}</b>{% endif %}&nbsp;<a href="https://cms-pdmv.cern.ch/stats/?ResToPrint=50&Page=1&Col=15-20-7-11-2-8-4-5-23-9&DN={{ dataset }}">DatasetInStats</a>
                            <br>
                        {% endfor %}
                    </td>
                    <td>{{ request.RequestType }}</td>
                </tr>
            {% endfor %}
        </table>
            {% if page != -1 %}
                Page: {{ page }}.
                {% if page > 0 %}<a href="/{{ page - 1 }}?{{ query }}">Previous page</a>{% endif %}
                {% if requests | count > 0 %}<a href="/{{ page + 1 }}?{{ query }}">Next page</a>{% endif %}
            {% endif %}
    </body>
</html>
